/* start variables */
:root {
    --main-color: #19c8fa;
    --second-color: white;
    --transparent-color: rgba(15, 116, 143, 0.5);
    --paragraph-color: #777;
    --main-padding: 70px;
}
/* end variables */
/* start global rules */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    -o-scroll-behavior: smooth;
    -ms-scroll-behavior: smooth;
    -moz-scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth;
    scroll-behavior: smooth;
}
/* us font google */
body {
    font-family: 'Open Sans', sans-serif;
}
ul {
    list-style: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* containers media */
/* code framwork boostrab */
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* end global rules */

/* start component */
.special-heading {
    text-align: center;
    padding: var(--main-padding) 0;
}

.special-heading > h3 {
    position: relative;
    padding-bottom: 20px;
    font-size: 40px;
    font-weight: normal;
    text-transform: uppercase;
}

.special-heading > p {
    max-width: 550px;
    padding-top: 50px;
    margin: 0 auto;
    color: var(--paragraph-color);
    line-height: 1.6;
}

.special-heading > h3::before,
.special-heading > h3::after {
    position: absolute;
    content: "";
    top: 115%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.special-heading > h3::before {
    background-color: #333;
    width: 120px;
    height: 2px;
}

.special-heading > h3::after {
    background-color: var(--second-color);
    width: 15px;
    height: 15px;
    border: 2px solid #333;
    border-radius: 50%;
}
/* end component */

/* start design logo */
/* remove line decoration stop change color */
header .logo,
header .logo:visited,
header .logo:hover,
header .logo:active {
    text-decoration: none;
    color: inherit;
}

header .logo {
    margin-bottom: 10px;
    --logo-color: var(--main-color, green);
    --tr-color: var(--second-color, white);
    display: flex;

}

header .logo .head {
    position: relative;
    margin-top: 6px;
    background-color: var(--logo-color);
    width: 35px;
    height: 40px;
    border-radius: 50px 50px 0 0;
}
header .logo .head::after, header .logo .head::before {
    content: "";
    background-color: #1a2a3d;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 8px 
}
header .logo .head::before {
    left: 20px;
}

header .logo .head p {
    position: absolute;
    border: 6px solid;
}
header .logo .head p:first-child{
        border-color: #ff00  #ff00 #ff00 var(--logo-color);
        bottom: -5px;
        left: 0;
    }

header .logo .head p:last-child{
        border-color: #ff00 var(--logo-color) #ff00 #ff00 ;
        bottom: -5px;
        right: 0;
    }
header .logo .head p:nth-child(2){
    border-color: var(--logo-color) #ff00 #ff00 #ff00;
    bottom: -11px; 
    left: 6px;
}
header .logo .head p:nth-child(3){
    border-color: var(--logo-color) #ff00 #ff00 #ff00;
    bottom: -11px;
    left:18px;
}

header .logo .logo-title {
    margin-top: 15px;
    margin-left: 5px;
}
header .logo .logo-title h3 {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 25px;
    font-family: 'Lily Script One', cursive;
    color: var(--tr-color)
}

header .logo .logo-title p {
    color: var(--logo-color);
    margin-left: 30px;
    margin-bottom: -5px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 8px;
}
/* start design logo */

/* start header */
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}

header .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 98px;
}

header .container::before {
    position: absolute;
    content: "";
    height: 2px;
    background-color: var(--second-color);
    bottom: 0;
    left: 15px;
    width: calc(100% - 30px);
}

header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end
}

header nav .my-menu {
    color: var(--second-color);
    font-size: 25px;
}

@media (min-width: 786px){
    header nav .my-menu {
        display: none;
    }
}

header nav ul {
    display: flex;
    align-items: center;
}

@media (max-width: 786px) {
    header nav ul {
        display: none;
    }

    header nav .my-menu:hover + ul {
    display: flex;
    align-items: stretch;
    position: absolute;
    flex-direction: column;
    background-color: rgba(17, 17, 17, 0.75);
    width: 100%;
    top: calc(100% + 1px);
    left: 0;
    }

    /* header nav .my-menu:hover + ul li a {
    padding: 20px 10px;
    } */
    /* or */
    header nav ul li a {
    padding: 20px 10px !important;
    color: var(--second-color) !important;
    }
}

header nav ul li a {
    padding: 40px 10px;
    display: block;
    color: var(--logo-color);
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
    position: relative;
    z-index: 3;
}

header nav ul li a.active,
header nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color)
}

header .form {
    position: relative;
    width: 60px;
    height: 30px;
    margin-left: 30px;
    border-left: 2px solid var(--second-color)
}
header .form i {
    color: var(--second-color);
    position: absolute;
    font-size: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -50%)
}
/* end header */

/* start landing */
.landing {
    min-height: 100vh;
    background-color: #222;
    background-image: url(../images/landing.jpg);
    background-size: cover;
    position: relative;
}

.landing .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.6);
}

.landing .text {
    background-color: var(--transparent-color);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px 20px 50px 100px;
    color: var(--second-color);
    overflow: hidden;
    transition: 0.5s;
}

@media (max-width:767px) {
    .landing .text {
        max-height: 450px;
        width: 100%;
        padding: 0;
    }
    
    .landing .text .content {
        max-width: 100%;
        padding: 50px 35px 50px 50px;
    }
    
}
.landing .text .content h2 {
    font-weight: normal;
    font-size: 35px;
    margin-bottom: 20px;
}
.landing .text .content p {
    margin-top: 30px;
    font-size: 14px;
    line-height: 1.6;
    text-overflow: ellipsis;
}

.landing .change-bg {
    color: var(--second-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.landing .change-bg.one {
    left: 20px;
}
.landing .change-bg.two {
    right: 20px;
}

@media (max-width: 500px) {
    .landing .change-bg {
        display: none;
    }
}

.landing .bullets {
    position: absolute;
    display: flex;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    
}
.landing .bullets li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--second-color);
    margin: 0 5px;
}
.landing .bullets li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
/* end landing */

/* start services  */
.services {
    padding-bottom: var(--main-padding);
}
.services .serveces-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}
.services .srv-box {
    display: flex;
}

.services .srv-box i {
    margin: 0 50px;
}

.services .srv-box .text h3 {
    color: var(--main-color);
    margin: 10px 0;
}

.services .srv-box .text p {
    color: var(--paragraph-color);
    margin: 50px 0;
    line-height: 1.6;
}

@media (max-width: 767px) {
    .services .srv-box {
        flex-direction: column;
        text-align: center;
    }
    .services .serveces-container {
        grid-template-columns: 1fr;
    }
}
/* end services  */

/* start design  */
section .design {
    position: relative;
    display: flex;
    align-items: center;
    height: 500px;
    background-image: url(../images/design-features.jpg);
    background-size: cover;
    overflow: hidden;
}

section .design::before {
    content: "";
    position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(17, 17, 17, 0.6);
}

section .design > * {
    position: absolute;
    z-index: 2;
} 

section .design img {
    left: 200px;
    bottom: -80px
}

section .design .text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    height: 300px;
    background-color: var(--transparent-color);
    right: 0;
}

section .design .text > * {
    color: var(--second-color);
    margin-left: 100px;
}

section .design .text h3 {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 50px;
}

section .design .text ul li {
    margin-bottom: 20px;
    font-size: 14px;
}

section .design .text ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f109";
    font-weight: 900;
    font-size: 20px;
    margin-right: 20px;
}

@media (max-width: 767px) {
    section .design .text {
        width: 100%;
        align-items: center;
    }
    section .design .text > * {
        margin: 0;
        font-weight: 100;
    }
    section .design .text h3 {
        font-size: 18px;
        font-weight: 700;
    }
    
    section .design img {
        display: none;
    }
}
/* end design  */


/* start portfolio */
.portfolio .portfolio-filter{
    text-align: center;
    margin-bottom: 50px;

}
.portfolio .portfolio-filter li {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 10px;
}

.portfolio .portfolio-filter .active {
    background-color: var(--main-color);
    color: var(--second-color);
}

.portfolio .images-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.portfolio .images-container .box {
    position: relative;
    margin: 1px 0;
    flex-basis: 25%;
    overflow: hidden;
}

.portfolio .images-container .box img{
    max-width: 100%;
    transition: 0.5s;
}

@media (max-width: 1199px) {
    .portfolio .images-container .box {
            flex-basis: 50%;
        }
}
@media (max-width: 767px) {
    .portfolio .images-container .box {
            flex-basis: 100%;
        }
}

.portfolio .images-container .box .caption {
    position: absolute;
    background-color: rgba(119, 119, 119, 0.8);
    width: 100%;
    bottom: -100%;
    transition: 0.5s;
}

.portfolio .images-container .box:hover .caption {
    bottom: 3px;
}

.portfolio .images-container .box:hover img {
    transform: rotate(5deg) scale(2.2);
}

.portfolio .images-container .box .caption > * {
    margin: 20px 30px;
    font-weight: normal;

}
.portfolio .images-container .box .caption > p {
    color: var(--main-color)
}
/* end portfolio */
